header {
    text-align: center;
}
fieldset {
    display: block;
    width: 600px;
    text-align: center;
}
legend {
    text-align: left;
    margin-left: 4%;
    align-items: center;
}
divnome {
    position:relative;
}
divemail {
    position:relative;
    right: 2%;
}
divcpf {
    position:relative;
    right: 15%;
}
divnascimento {
    position:relative;
    right: 28%;
}
divsexo {
    position: relative;
    right: 16%;
}
divtel {
    position:relative;
    right: 17%;
}
divsubmit {
    position:relative;
}
divreset{
    position:relative;
}
divformu {
    position:absolute;
    top: 10%; left: 30%;
}
.input-padrao{
    width: 60%;
}